&pinctrl {
	pio1_uart0_default: pio1_uart0_default {
		rx_pins {
			pinmux = <PIO1_P1>;
			input-enable;
			bias-pull-up;
		};
		tx_pins {
			pinmux = <PIO1_P0>;
		};
	};

	pio1_uart1_default: pio1_uart1_default {
		rx_pins {
			pinmux = <PIO1_P2>;
			input-enable;
			bias-pull-up;
		};
		tx_pins {
			pinmux = <PIO1_P3>;
		};
	};
};

&pio1 {
 	status = "okay";

	pio1_uart0: uart0 {
		pinctrl-0 = <&pio1_uart0_default>;
		pinctrl-names = "default";

		compatible = "raspberrypi,pico-uart-pio";
		current-speed = <115200>;
		status = "okay";
	};

	pio1_uart1: uart1 {
		pinctrl-0 = <&pio1_uart1_default>;
		pinctrl-names = "default";

		compatible = "raspberrypi,pico-uart-pio";
		current-speed = <115200>;
		status = "okay";
	};
};

&pwm {
	status = "okay";
	divider-frac-4 = <15>;
	divider-int-4 = <255>;
};

&adc {
	status = "disabled";
};


// 25kHz PWM frequency
// 40000 ns = 0x9c40
// pwm channel = 9
// pwm flags = 0
/ {
	motor_drive0: motor_drive {
		compatible = "thao_do,motor-drive";
		status = "okay";
		pwms = <&pwm 0x1 PWM_USEC(40) 0x0>;
		label = "MOTOR_DRIVE_CHANNEL_0";

		gpio_ctrl0: gpio_ctrl0 {
			gpios = <&gpio0 19 GPIO_ACTIVE_HIGH>;
			label = "GPIO 19";
		};

		gpio_ctrl1: gpio_ctrl1 {
			gpios = <&gpio0 20 GPIO_ACTIVE_HIGH>;
			label = "GPIO 20";
		};
	};
};
